# Backend Gateway 주소
VITE_API_BASE_URL=http://localhost:8000

# OpenWeather API (https://openweathermap.org/api)
VITE_OPENWEATHER_API_KEY=

# OAuth2 로그인 엔드포인트
VITE_OAUTH2_GOOGLE_URL=/member-service/oauth2/authorization/google
VITE_OAUTH2_NAVER_URL=/member-service/oauth2/authorization/naver
VITE_OAUTH2_KAKAO_URL=/member-service/oauth2/authorization/kakao
VITE_OAUTH2_GITHUB_URL=/member-service/oauth2/authorization/github
